*.yaml.pak
*.yaml.save
privkey.pem
*.pem
*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.json
*.py
*.db-shm
*.db-wal
*.html
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*.db-journal
lib
deps
tts
secrets.yaml
known_devices.yaml
pyozw.sqlite
ip_bans.yaml
.*
!/.gitignore
config
ozw_config
secret_password.yaml
secrets_pushbullet.yaml
ygoogle_calendars.yaml
